---
- name: install etcd and kubernetes from the virt7-docker-common-release repo
  yum:
    name: "{{ item }}"
    enablerepo: virt7-docker-common-release
    state: present
    update_cache: true
  with_items:
    - etcd
    - kubernetes
    - docker

- name: copy kubernetes config file
  copy:
    src: config
    dest: /etc/kubernetes
    owner: root
    group: wheel
    mode: 0644

- name: copy kubernetes apiserver file
  copy:
    src: apiserver
    dest: /etc/kubernetes
    owner: root
    group: wheel
    mode: 0644

- name: enable and start kubernetes master services
  systemd:
    name: "{{ item }}"
    state: started
    enabled: True
  with_items:
    - kube-apiserver
    - kube-controller-manager
    - kube-scheduler
